# PROJECT 1 : Y.Music Preferences

## Introduction
Every time we carry out an analysis, we need to formulate several hypotheses that we need to test further. Sometimes, the tests we carry out lead us to accept the hypothesis, and sometimes we also need to reject it. To make the right decisions in business, we must understand whether the assumptions we make are correct or not.

In this project, you will compare the music preferences of users in the cities of Springfield and Shelbyville. You'll study real Y.Music data to test the hypotheses below and compare user behavior in these two cities.

### Goals: 
Testing three hypotheses:
1. User activity varies depending on the day and city.
2. On Monday mornings, residents of Springfield and Shelbyville listen to different genres. This also applies on Friday nights.
3. Listeners in Springfield and Shelbyville have different preferences. In Springfield, users prefer pop music, while in Shelbyville, rap music has more fans.

### Steps :
Data about user behavior is stored in the *file* `/datasets/music_project_en.csv`. There is no information regarding the quality of the data, so you need to check it first before testing your hypothesis.

First, you'll evaluate the quality of the data and see if the problem is significant. Then, during data pre-processing, you will try to address the most serious problems.
 
The project will consist of three stages:
1. Data Overview
2. Data pre-processing
3. Hypothesis testing

## Step 1. Data Overview

Open the data related to Y.Music, then explore the data.

You will need the `Pandas` *library*, so feel free to import it.

In [7]:
import pandas as pd# mengimpor Pandas

Read *file* `music_project_en.csv` from folder `/datasets/`, then save it in variable `df`:

In [8]:
df = pd.read_csv('/datasets/music_project_en.csv') # membuka berkas data music project berdasarkan file path data bersangkutan dan menyimpannya ke df
df.describe()

          userID  Track     artist  genre       City        time     Day
count      65079  63736      57512  63881        65079     65079   65079
unique     41748  39666      37806    268            2     20392       3
top     A8AE9169  Brand  Kartvelli    pop  Springfield  21:51:22  Friday
freq          76    136        136   8850        45360        14   23149

Show the first 10 rows of the table:

In [9]:
df.head(10)# memperoleh 10 baris pertama dari tabel df

,userID,Track,artist,genre,City,time,Day
0,FFB692EC,Kamigata To Boots,The Mass Missile,rock,Shelbyville,20:28:33,Wednesday
1,55204538,Delayed Because of Accident,Andreas Rönnberg,rock,Springfield,14:07:09,Friday
2,20EC38,Funiculì funiculà,Mario Lanza,pop,Shelbyville,20:58:07,Wednesday
3,A3DD03C9,Dragons in the Sunset,Fire + Ice,folk,Shelbyville,08:37:09,Monday
4,E2DC1FAE,Soul People,Space Echo,dance,Springfield,08:34:34,Monday
5,842029A1,Chains,Obladaet,rusrap,Shelbyville,13:09:41,Friday
6,4CB90AA5,True,Roman Messer,dance,Springfield,13:00:07,Wednesday
7,F03E1C1F,Feeling This Way,Polina Griffith,dance,Springfield,20:47:49,Wednesday
8,8FA1D3BE,L’estate,Julia Dalia,ruspop,Springfield,09:17:40,Friday
9,E772D5C0,Pessimist,NaN,dance,Shelbyville,21:20:49,Wednesday

Get general information about a table with one command:

In [10]:
df.info()# memperoleh informasi umum tentang data yang tersedia di df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 65079 entries, 0 to 65078
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0     userID  65079 non-null  object
 1   Track     63736 non-null  object
 2   artist    57512 non-null  object
 3   genre     63881 non-null  object
 4     City    65079 non-null  object
 5   time      65079 non-null  object
 6   Day       65079 non-null  object
dtypes: object(7)
memory usage: 3.5+ MB

There is also a different number of values between columns. They all store the same data type, namely: `object`.

Based on the documentation:
- `'userID'` — User ID
- `'Track'` — song track title
- `'artist'` — artist name
- `'genre'`
- `'City'` — the city where the user is located
- `'time'` — the amount of time the song is played
- `'Day'` — day of the week

We can see three problems with the column name writing style:
1. Some names are written in uppercase, some in lowercase.
2. Some names use spaces.
3. Some name terms do not have a clear meaning, such as the name 'time', where there is more than one interpretation of the name, whether what is meant is the time the track in question is played or the length of time the song in question is played by the user in the same day. `Look for it. third problem and describe the problem here`.

Number of different column values. This indicates that the data we have contains missing values.

### Conclusion

Each row in the table stores data related to the song track being played. A number of columns hold data that describes the track itself: track title, artist, and genre. The rest stores data related to user information: their hometown, the time they played the song track.

It is clear that the data we have is sufficient to test the hypothesis. Nevertheless, we have missing values.

To continue the analysis, we need to preprocess the data first.

## Tahap 2. Data Pre-Processing
Correct the formatting of column headings and resolve missing values. Then, check whether your data contains duplicates.

### Title Writing Style
Show column headings:

In [11]:
print(df.columns)# list nama kolom pada tabel df

Index(['  userID', 'Track', 'artist', 'genre', '  City  ', 'time', 'Day'], dtype='object')

Rename columns according to the rules of good writing style:
* If the name has multiple words, use snake_case.
* All characters must be in lower case.
* Remove spaces.

In [12]:
df = df.rename(columns={
        '  userID': 'user_id',
        'Track': 'track',
        '  City  ': 'city',
        'Day': 'day'
})# mengganti nama kolom

In [13]:
print(df.columns)# mengecek hasil Anda: tampilkan sekali lagi list nama kolom

Index(['user_id', 'track', 'artist', 'genre', 'city', 'time', 'day'], dtype='object')

### Missing values
First, find the number of missing values in the table. To do this, use two `Pandas` methods:

In [14]:
print(df.isna().sum())# menghitung nilai yang hilang

user_id       0
track      1343
artist     7567
genre      1198
city          0
time          0
day           0
dtype: int64

Not all missing values affect the research. For example, missing values in the `track` and `artist` columns are not that important. You can simply replace it with a clear marker.
However, missing values in the `'genre'` column could affect the comparison of music preferences in Springfield and Shelbyville. In real life, it is useful to learn the reasons why the data was lost and try to fix it. Unfortunately, we haven't had that opportunity with this project. Therefore, you must:
* Fill in missing values with markers.
* Evaluate how much missing values may impact your calculations.

Replace missing values in the `'track'`, `'artist'`, and `'genre'` columns with the *string* `'unknown'`. To do this, create a *list* `columns_to_replace`, apply a *loop* with `for` on the *list*, and replace the missing values in each column:

In [15]:
columns_to_replace = [df.columns] #membuat list columns_to_replace dari kolom pada data frame
for columns in columns_to_replace:
    df = df.fillna('unknown')#loop nama kolom dan ganti nilai yang hilang dengan 'unknown'

In [16]:
print(df.isna().sum())# menghitung nilai yang hilang

user_id    0
track      0
artist     0
genre      0
city       0
time       0
day        0
dtype: int64

### Duplicate
Find the number of explicit duplicates in a table using one command:

In [17]:
print(df.duplicated().sum())# menghitung duplikat eksplisit

3826

Call the `Pandas` method to remove explicit duplicates:

In [18]:
df = df.drop_duplicates() # menghapus duplikat eksplisit

Count explicit duplicates again to ensure that you have removed them all:

In [19]:
print(df.duplicated().sum())# memeriksa duplikat

0

Now remove the implicit duplicates in the `genre` column. For example, genre names can be written in different ways. Mistakes like these will also affect your results.

Display a *list* containing unique genre names, then sort the *list* alphabetically. To do so:
* Retrieve the column of the Data Frame in question.
* Apply the sorting method to the column.
* For a column that has been sorted, call a method that returns all unique values of the column.

In [20]:
df_genre_unique = df['genre'].unique() # menampilkan nama genre unik
list_genre_unique = list(df_genre_unique) # simpan nama genre unik dalam bentuk list
list_genre_unique.sort()# mengurutkan nama pada genre unik
print(list_genre_unique) # menampilkan nama genre unik yang sudah diurutkan

['acid', 'acoustic', 'action', 'adult', 'africa', 'afrikaans', 'alternative', 'ambient', 'americana', 'animated', 'anime', 'arabesk', 'arabic', 'arena', 'argentinetango', 'art', 'audiobook', 'avantgarde', 'axé', 'baile', 'balkan', 'beats', 'bigroom', 'black', 'bluegrass', 'blues', 'bollywood', 'bossa', 'brazilian', 'breakbeat', 'breaks', 'broadway', 'cantautori', 'cantopop', 'canzone', 'caribbean', 'caucasian', 'celtic', 'chamber', 'children', 'chill', 'chinese', 'choral', 'christian', 'christmas', 'classical', 'classicmetal', 'club', 'colombian', 'comedy', 'conjazz', 'contemporary', 'country', 'cuban', 'dance', 'dancehall', 'dancepop', 'dark', 'death', 'deep', 'deutschrock', 'deutschspr', 'dirty', 'disco', 'dnb', 'documentary', 'downbeat', 'downtempo', 'drum', 'dub', 'dubstep', 'eastern', 'easy', 'electronic', 'electropop', 'emo', 'entehno', 'epicmetal', 'estrada', 'ethnic', 'eurofolk', 'european', 'experimental', 'extrememetal', 'fado', 'film', 'fitness', 'flamenco', 'folk', 'folklore', 'folkmetal', 'folkrock', 'folktronica', 'forró', 'frankreich', 'französisch', 'french', 'funk', 'future', 'gangsta', 'garage', 'german', 'ghazal', 'gitarre', 'glitch', 'gospel', 'gothic', 'grime', 'grunge', 'gypsy', 'handsup', "hard'n'heavy", 'hardcore', 'hardstyle', 'hardtechno', 'hip', 'hip-hop', 'hiphop', 'historisch', 'holiday', 'hop', 'horror', 'house', 'idm', 'independent', 'indian', 'indie', 'indipop', 'industrial', 'inspirational', 'instrumental', 'international', 'irish', 'jam', 'japanese', 'jazz', 'jewish', 'jpop', 'jungle', 'k-pop', 'karadeniz', 'karaoke', 'kayokyoku', 'korean', 'laiko', 'latin', 'latino', 'leftfield', 'local', 'lounge', 'loungeelectronic', 'lovers', 'malaysian', 'mandopop', 'marschmusik', 'meditative', 'mediterranean', 'melodic', 'metal', 'metalcore', 'mexican', 'middle', 'minimal', 'miscellaneous', 'modern', 'mood', 'mpb', 'muslim', 'native', 'neoklassik', 'neue', 'new', 'newage', 'newwave', 'nu', 'nujazz', 'numetal', 'oceania', 'old', 'opera', 'orchestral', 'other', 'piano', 'pop', 'popelectronic', 'popeurodance', 'post', 'posthardcore', 'postrock', 'power', 'progmetal', 'progressive', 'psychedelic', 'punjabi', 'punk', 'quebecois', 'ragga', 'ram', 'rancheras', 'rap', 'rave', 'reggae', 'reggaeton', 'regional', 'relax', 'religious', 'retro', 'rhythm', 'rnb', 'rnr', 'rock', 'rockabilly', 'romance', 'roots', 'ruspop', 'rusrap', 'rusrock', 'salsa', 'samba', 'schlager', 'self', 'sertanejo', 'shoegazing', 'showtunes', 'singer', 'ska', 'slow', 'smooth', 'soul', 'soulful', 'sound', 'soundtrack', 'southern', 'specialty', 'speech', 'spiritual', 'sport', 'stonerrock', 'surf', 'swing', 'synthpop', 'sängerportrait', 'tango', 'tanzorchester', 'taraftar', 'tech', 'techno', 'thrash', 'top', 'traditional', 'tradjazz', 'trance', 'tribal', 'trip', 'triphop', 'tropical', 'türk', 'türkçe', 'unknown', 'urban', 'uzbek', 'variété', 'vi', 'videogame', 'vocal', 'western', 'world', 'worldbeat', 'ïîï']

Look carefully at the *list* to find implicit duplicates of the `hiphop` genre. The duplicate could be an incorrectly written name or an alternative name of the same genre.

You will see the following implicit duplicate:
* `hip`
* `hop`
* `hip-hop`

To remove it, use the `replace_wrong_genres()` function with two parameters:
* `wrong_genres=` — *list* of duplicates to replace
* `correct_genre=` — *string* with correct values

The function should correct the names in the `'genre'` column of the `df` table by replacing each value from the *list* `wrong_genres` with a value from `correct_genre`.

In [21]:
def replace_wrong_genres(wrong_genres, correct_genre): 
    for wrong_genre in wrong_genres: 
        df['genre'] = df['genre'].replace(wrong_genre, correct_genre)
# fungsi untuk mengganti duplikat implisit dimana key berisi nama lama dan value berisi nama baru

Call `replace wrong genres()` and write arguments to the function so that it can remove implicit duplicates (`hip`, `hop`, and `hip-hop`) and replace them with `hiphop`:

In [22]:
duplicates = ['hip', 'hop', 'hip-hop'] # daftar nama yang salah pengejaan
name = 'hiphop' # nama yang benar
replace_wrong_genres(duplicates, name) # memanggil replace() untuk setiap nama yang salah 
# fungsi yang mengganti duplikat implisit

Make sure that duplicate values have been removed. Display a *list* of unique values from the `'genre'` column:

In [23]:
print(df['genre'].unique())# memeriksa duplikat implisit

['rock' 'pop' 'folk' 'dance' 'rusrap' 'ruspop' 'world' 'electronic'
 'unknown' 'alternative' 'children' 'rnb' 'hiphop' 'jazz' 'postrock'
 'latin' 'classical' 'metal' 'reggae' 'triphop' 'blues' 'instrumental'
 'rusrock' 'dnb' 'türk' 'post' 'country' 'psychedelic' 'conjazz' 'indie'
 'posthardcore' 'local' 'avantgarde' 'punk' 'videogame' 'techno' 'house'
 'christmas' 'melodic' 'caucasian' 'reggaeton' 'soundtrack' 'singer' 'ska'
 'salsa' 'ambient' 'film' 'western' 'rap' 'beats' "hard'n'heavy"
 'progmetal' 'minimal' 'tropical' 'contemporary' 'new' 'soul' 'holiday'
 'german' 'jpop' 'spiritual' 'urban' 'gospel' 'nujazz' 'folkmetal'
 'trance' 'miscellaneous' 'anime' 'hardcore' 'progressive' 'korean'
 'numetal' 'vocal' 'estrada' 'tango' 'loungeelectronic' 'classicmetal'
 'dubstep' 'club' 'deep' 'southern' 'black' 'folkrock' 'fitness' 'french'
 'disco' 'religious' 'drum' 'extrememetal' 'türkçe' 'experimental' 'easy'
 'metalcore' 'modern' 'argentinetango' 'old' 'swing' 'breaks' 'eurofolk'
 'stonerrock' 'industrial' 'funk' 'middle' 'variété' 'other' 'adult'
 'christian' 'thrash' 'gothic' 'international' 'muslim' 'relax' 'schlager'
 'caribbean' 'nu' 'breakbeat' 'comedy' 'chill' 'newage' 'specialty'
 'uzbek' 'k-pop' 'balkan' 'chinese' 'meditative' 'dub' 'power' 'death'
 'grime' 'arabesk' 'romance' 'flamenco' 'leftfield' 'european' 'tech'
 'newwave' 'dancehall' 'mpb' 'piano' 'top' 'bigroom' 'opera' 'celtic'
 'tradjazz' 'acoustic' 'epicmetal' 'historisch' 'downbeat' 'downtempo'
 'africa' 'audiobook' 'jewish' 'sängerportrait' 'deutschrock' 'eastern'
 'action' 'future' 'electropop' 'folklore' 'bollywood' 'marschmusik' 'rnr'
 'karaoke' 'indian' 'rancheras' 'afrikaans' 'rhythm' 'sound' 'deutschspr'
 'trip' 'lovers' 'choral' 'dancepop' 'retro' 'smooth' 'mexican'
 'brazilian' 'ïîï' 'mood' 'surf' 'gangsta' 'inspirational' 'idm' 'ethnic'
 'bluegrass' 'broadway' 'animated' 'americana' 'karadeniz' 'rockabilly'
 'colombian' 'self' 'sertanejo' 'japanese' 'canzone' 'lounge' 'sport'
 'ragga' 'traditional' 'gitarre' 'frankreich' 'emo' 'laiko' 'cantopop'
 'glitch' 'documentary' 'oceania' 'popeurodance' 'dark' 'vi' 'grunge'
 'hardstyle' 'samba' 'garage' 'art' 'folktronica' 'entehno'
 'mediterranean' 'chamber' 'cuban' 'taraftar' 'gypsy' 'hardtechno'
 'shoegazing' 'bossa' 'latino' 'worldbeat' 'malaysian' 'baile' 'ghazal'
 'arabic' 'popelectronic' 'acid' 'kayokyoku' 'neoklassik' 'tribal'
 'tanzorchester' 'native' 'independent' 'cantautori' 'handsup' 'punjabi'
 'synthpop' 'rave' 'französisch' 'quebecois' 'speech' 'soulful' 'jam'
 'ram' 'horror' 'orchestral' 'neue' 'roots' 'slow' 'jungle' 'indipop'
 'axé' 'fado' 'showtunes' 'arena' 'irish' 'mandopop' 'forró' 'dirty'
 'regional']

### Conclusion
We have detected three problems in our data:

- Wrong title writing style
- Missing values
- Explicit and implicit duplicates

Column headings have now been cleaned up to make table processing easier.
All missing values have been replaced with `'unknown'`. However, we still have to see whether missing values in the `'genre'` column will affect our calculations.

The absence of duplicates will make the results we get more precise and easier to understand.

Now, we can move on to hypothesis testing.

## Step 3. Hypothesis Test.

### Hypothesis 1: Comparing User Behavior in Two Cities

According to the first hypothesis, users from Springfield and Shelbyville have different music listening behaviors. This test uses data taken from three days of the week: Monday, Wednesday, and Friday.

* Divide users into groups by city.
* Compare how many song tracks each group played on Monday, Wednesday, and Friday.

Just as an exercise, do each calculation separately.

Evaluate user activity in each city. Group the data by city and find the number of song tracks played in each group.

In [24]:
amount_track_Springfield = df[df['city'] == 'Springfield']['track'].count()# Menhitung trek lagu yang diputar di kota Springfield
amount_track_Shelbyville = df[df['city'] == 'Shelbyville']['track'].count()# Menghitung trek lagu yang diputar di kota Shelbyville
print(amount_track_Springfield)
print(amount_track_Shelbyville)

42741
18512

Users from Springfield played more tracks than users from Shelbyville. However, this does not imply that Springfield residents listen to music more often. The city is bigger, and there are more users.

Now, group the data by day and find the number of song tracks played on Monday, Wednesday, and Friday.

In [25]:
amount_monday_track = df[df['day'] == 'Monday']['track'].count()# Menghitung trek lagu yang diputar di hari senin
amount_wednesday_track = df[df['day'] == 'Wednesday']['track'].count()# Menghitung trek lagu yang diputar di hari rabu
amount_friday_track = df[df['day'] == 'Friday']['track'].count()# Menghitung trek lagu yang diputar di hari jumat
print(amount_monday_track)
print(amount_wednesday_track)
print(amount_friday_track)

21354
18059
21840

Wednesday is the quietest day overall. But if we consider the two cities separately, we might come to a different conclusion.

You've seen how grouping by city or day works. Now, write a function that will group the data by city and day.

Create a `number_tracks()` function to count the number of song tracks played for a given day and city. The function will require two parameters:
* Name of the day of the week
* City name

In the function we created, use variables to store rows from the original table, where:
* The value of the `'day'` column is the same as the `day` parameter.
* The value of the `'city'` column is the same as the `city` parameter.

Implement sequential filtering with logical indexing.

Then calculate the value of the `'user_id'` column in the resulting table. Save the result into a new variable. Return this variable from the function.

In [26]:
# <membuat fungsi number_tracks()>
# Kita akan mendeklarasikan sebuah fungsi dengan dua parameter: day=, city=.
# Buat agar variabel track_list menyimpan baris df, di mana
# nilai di kolom 'day' sama dengan parameter day=, serta pada saat yang bersamaan,
# nilai pada kolom 'city' sama dengan parameter city= (terapkan pemfilteran berurutan
# dengan pengindeksan logis).
# Buat agar variabel track_list_count menyimpan jumlah nilai kolom 'user_id' pada track_list
# (temukan dengan metode count()).
# Buat agar fungsi yang Anda ciptakan menghasilkan angka: nilai track_list_count.
def number_track(day, city):
    track_list = df[(df['day'] == day) & (df['city'] == city)]
    track_list_count = track_list['user_id'].count()
# Fungsi tersebut menghitung trek lagu yang diputar untuk kota dan hari tertentu.
# Pertama-tama ia akan mengambil baris dengan hari yang diinginkan dari tabel,# kemudian memfilter baris tersebut dengan kota yang diinginkan,
# kemudian mencari jumlah nilai 'user_id' pada tabel yang telah difilter,
# kemudian menghasilkan jumlah tersebut.
# Untuk melihat apa yang dihasilkan, kemas pemanggilan fungsi pada print().
    print(track_list_count)

Call `number_tracks()` six times and change the parameter value on each call, so that you can retrieve data for both cities for each day (Monday, Wednesday, and Friday).

In [27]:
number_track('Monday', 'Springfield')# jumlah lagu yang diputar di Springfield pada hari Senin

15740

In [28]:
number_track('Monday', 'Shelbyville')# jumlah lagu yang diputar di Shelbyville pada hari Senin

5614

In [30]:
number_track('Wednesday', 'Springfield')#  jumlah lagu yang diputar di Springfield pada hari Rabu

11056

In [31]:
number_track('Wednesday', 'Shelbyville')#  jumlah lagu yang diputar di Shelbyville pada hari Rabu

7003

In [32]:
number_track('Friday', 'Springfield')# jumlah lagu yang diputar di Springfield pada hari Jumat

15945

In [33]:
number_track('Friday', 'Shelbyville')# jumlah lagu yang diputar di Shelbyville pada hari Jumat

5895

Use `pd.DataFrame` to create a table, which
* The column names are: `['city', 'monday', 'wednesday', 'friday']`
* The data is the result of `number_tracks()` `number_tracks()`

In [34]:
df1 = pd.DataFrame({
    'city': ['Springfield', 'Shelbyville'],
    'monday': [15740, 5614],
    'wednesday': [11056, 7003],
    'friday': [15945, 5895]
})
print(df1)
# tabel dengan hasil

          city  monday  wednesday  friday
0  Springfield   15740      11056   15945
1  Shelbyville    5614       7003    5895

**Conclusion**

The data you get reveals differences in user behavior:
- In Springfield, the number of songs played peaks on Mondays and Fridays, while on Wednesdays there is a decline in activity.
- In Shelbyville, on the other hand, users listen to music more on Wednesdays.

User activity on Mondays and Fridays is less.

### Hypothesis 2: Music at the Beginning and End of the Week

According to the second hypothesis, on Monday mornings and Friday nights, Springfield residents listen to different genres of music than those enjoyed by Shelbyville residents.

Get the table (make sure your combined table name matches the DataFrame given in the two code blocks below):
* For Springfield — `spr_general`
* For Shelbyville — `shel_general`

In [270]:
spr_general = df[df['city'] == 'Springfield']# mendapatkan tabel spr_general dari baris df,
print(spr_general)# yang nilai dari kolom 'city'-nya adalah 'Springfield'

        user_id                          track                   artist  \
1      55204538    Delayed Because of Accident         Andreas Rönnberg
4      E2DC1FAE                    Soul People               Space Echo
6      4CB90AA5                           True             Roman Messer
7      F03E1C1F               Feeling This Way          Polina Griffith
8      8FA1D3BE                       L’estate              Julia Dalia
...         ...                            ...                      ...
65073  83A474E7  I Worship Only What You Bleed  The Black Dahlia Murder
65074  729CBB09                        My Name                   McLean
65076  C5E3A0D5                      Jalopiina                  unknown
65077  321D0506                  Freight Train            Chas McDevitt
65078  3A64EF84      Tell Me Sweet Little Lies             Monica Lopez

              genre         city      time        day
1              rock  Springfield  14:07:09     Friday
4             dance  Springfield  08:34:34     Monday
6             dance  Springfield  13:00:07  Wednesday
7             dance  Springfield  20:47:49  Wednesday
8            ruspop  Springfield  09:17:40     Friday
...             ...          ...       ...        ...
65073  extrememetal  Springfield  21:07:12     Monday
65074           rnb  Springfield  13:32:28  Wednesday
65076    industrial  Springfield  20:09:26     Friday
65077          rock  Springfield  21:43:59     Friday
65078       country  Springfield  21:59:46     Friday

[42741 rows x 7 columns]

In [271]:
shel_general = df[df['city'] == 'Shelbyville']# mendapatkan shel_general dari baris df,
print(shel_general)# yang nilai dari kolom 'city'-nya adalah 'Shelbyville'

        user_id                              track              artist  \
0      FFB692EC                  Kamigata To Boots    The Mass Missile
2        20EC38                  Funiculì funiculà         Mario Lanza
3      A3DD03C9              Dragons in the Sunset          Fire + Ice
5      842029A1                             Chains            Obladaet
9      E772D5C0                          Pessimist             unknown
...         ...                                ...                 ...
65063  D94F810B        Theme from the Walking Dead  Proyecto Halloween
65064  BC8EC5CF       Red Lips: Gta (Rover Rework)               Rover
65065  29E04611                       Bre Petrunko       Perunika Trio
65066  1B91C621             (Hello) Cloud Mountain     sleepmakeswaves
65075  D08D4A55  Maybe One Day (feat. Black Spade)         Blu & Exile

            genre         city      time        day
0            rock  Shelbyville  20:28:33  Wednesday
2             pop  Shelbyville  20:58:07  Wednesday
3            folk  Shelbyville  08:37:09     Monday
5          rusrap  Shelbyville  13:09:41     Friday
9           dance  Shelbyville  21:20:49  Wednesday
...           ...          ...       ...        ...
65063        film  Shelbyville  21:14:40     Monday
65064  electronic  Shelbyville  21:06:50     Monday
65065       world  Shelbyville  13:56:00     Monday
65066    postrock  Shelbyville  09:22:13     Monday
65075      hiphop  Shelbyville  10:00:00     Monday

[18512 rows x 7 columns]

Write a function `genre_weekday()` with four parameters:
* A table for data
* Name of the day
* First timestamp, in 'hh:mm' format
* Last timestamp, in 'hh:mm' format

The function should produce information about the 15 most popular genres on a given day in the period between two timestamps.

In [244]:
# Mendeklarasikan fungsi genre_weekday() dengan parameter day=, time1=, dan time2=. Fungsi tersebut harus
# memberikan informasi tentang genre yang paling populer pada hari dan waktu tertentu:

# 1) Buat agar variabel genre_df menyimpan baris yang memenuhi beberapa kondisi berikut:
#    - nilai pada kolom 'day' sama dengan nilai argumen day=
#    - nilai pada kolom 'time' lebih besar dari nilai argumen time1=
#    - nilai pada kolom 'time' lebih kecil dari nilai argumen time2=
#    Gunakan pemfilteran berurutan dengan pengindeksan logis.

# 2) Kelompokkan genre_df berdasarkan kolom 'genre', lalu ambil salah satu kolomnya,
#    dan gunakan metode count() untuk menemukan jumlah entri untuk masing-masing
#    genre yang terwakili; simpan Series yang dihasilkan ke dalam
#    variabel genre_df_count

# 3) Urutkan genre_df_count dalam urutan menurun berdasarkan frekuensi dan simpan hasilnya
#    ke dalam variabel genre_df_sorted

# 4) Hasilkan sebuah objek Series dengan 15 nilai genre_df_sorted pertama - 15 genre paling
#    populer (pada hari tertentu, dalam jangka waktu tertentu)

def genre_weekday(df, day, time1, time2):# tulis fungsi Anda di sini

    # pemfilteran berturut-turut
    # genre_df hanya akan menyimpan baris df yang day-nya sama dengan day
    genre_df = df[df['day'] == day]# tulis kode program Anda di sini

    # genre_df hanya akan menyimpan baris df yang time-nya lebih kecil dari time2
    genre_df = genre_df[genre_df['time'] < time2] # tulis kode program Anda di sini

    # genre_df hanya akan menyimpan baris df yang time-nya lebih besar dari time1
    genre_df = genre_df[genre_df['time'] > time1] # tulis kode program Anda di sini

    # kelompokkan DataFrame yang telah difilter berdasarkan kolom dengan nama genre, ambil kolom genre, dan temukan jumlah baris untuk setiap genre dengan metode count()
    genre_df_count = genre_df.groupby('genre')['user_id'].count() # tulis kode program Anda di sini

    # kita akan mengurutkan hasilnya dalam urutan menurun (sehingga genre yang paling populer ditampilkan lebih awal pada objek Series
    genre_df_sorted = genre_df_count.sort_values(ascending=False) # tulis kode program Anda di sini

    # kita akan menghasilkan objek Series yang menyimpan 15 genre paling populer pada hari tertentu dalam jangka waktu tertentu
    return genre_df_sorted[:15]

Compare the results of the `genre_weekday()` function for Springfield and Shelbyville on Monday morning (from 7:00 to 11:00) and on Friday evening (from 17:00 to 23:00):

In [245]:
genre_weekday(spr_general, day='Monday', time1='07.00', time2='11.00')# memanggil fungsi untuk Senin pagi di Springfield (gunakan spr_general alih-alih tabel df)

genre
pop            781
dance          549
electronic     480
rock           474
hiphop         286
ruspop         186
world          181
rusrap         175
alternative    164
unknown        161
classical      157
metal          120
jazz           100
folk            97
soundtrack      95
Name: user_id, dtype: int64

In [246]:
genre_weekday(shel_general, day='Monday', time1='07.00', time2='11.00')# memanggil fungsi untuk Senin pagi di Shelbyville (gunakan shel_general alih-alih tabel df)

genre
pop            218
dance          182
rock           162
electronic     147
hiphop          80
ruspop          64
alternative     58
rusrap          55
jazz            44
classical       40
world           36
rap             32
soundtrack      31
rnb             27
metal           27
Name: user_id, dtype: int64

In [247]:
genre_weekday(spr_general, day='Friday', time1='17.00', time2='23.00')# memanggil fungsi untuk Jumat malam di Springfield

genre
pop            713
rock           517
dance          495
electronic     482
hiphop         273
world          208
ruspop         170
classical      163
alternative    163
rusrap         142
jazz           111
unknown        110
soundtrack     105
rnb             90
metal           88
Name: user_id, dtype: int64

In [248]:
genre_weekday(shel_general, day='Friday', time1='17.00', time2='23.00')# memanggil fungsi untuk Jumat malam di Shelbyville

genre
pop            256
rock           216
electronic     216
dance          210
hiphop          97
alternative     63
jazz            61
classical       60
rusrap          59
world           54
unknown         47
ruspop          47
soundtrack      40
metal           39
rap             36
Name: user_id, dtype: int64

**Conclusion**

After comparing the top 15 genres as of Monday morning, we can draw the following conclusions:

1. Users from Springfield and Shelbyville listen to music of the same genre. The top five genres from both cities are the same, only rock and electronic have swapped places.

2. In Springfield, the number of missing values turns out to be very large, so that the value `'unknown'` is in 10th place. This means that the missing values account for a fairly large proportion of the data, so this fact could be a basis for questioning the reliability of our conclusions.

For Friday night, the situation was also similar. Individual genres varied quite a bit, but overall, the top 15 genres for both cities were the same.

Thus, the second hypothesis was partially proven correct:
* Users listen to the same music at the start and end of the week.
* There are no significant differences between Springfield and Shelbyville. In both cities, pop is the most popular genre.

However, the significance of the number of missing values makes this result questionable. In Springfield, there is a lot of missing value that impacts our top 15 genre results. If we did not have these missing values, the results might have been different.

### Hypothesis 3 : Genre Preferences in Springfield and Shelbyville

Hypothesis: Shelbyville loves rap music. Springfield residents prefer pop.

Group the `spr_general` table by genre and find the number of tracks played for each genre with the `count()` method. Then, sort the results in descending order and save them to `spr_genres`.

In [253]:
# dalam satu baris: kelompokkan tabel spr_general berdasarkan kolom 'genre',
spr_general_grouped = spr_general.groupby('genre')['track'].count()# hitung nilai kolom 'genre' dengan count() dalam pengelompokan,
spr_genre = spr_general_grouped.sort_values(ascending = False)# urutkan Series yang dihasilkan dalam urutan menurun, lalu simpan hasilnya ke spr_genres

Show the first 10 lines of `spr_genres`:

In [272]:
print(spr_genre.head(10))# menampilkan 10 baris pertama dari spr_genres

genre
pop            5892
dance          4435
rock           3965
electronic     3786
hiphop         2096
classical      1616
world          1432
alternative    1379
ruspop         1372
rusrap         1161
Name: track, dtype: int64

Now do the same thing with the data from Shelbyville.

Group the `shel_general` table by genre and find the number of tracks played for each genre. Then, sort the results in descending order and save them to the `shel_genres` table:

In [268]:
# dalam satu baris: kelompokkan tabel shel_general berdasarkan kolom 'genre',
shel_general_grouped = shel_general.groupby('genre')['track'].count()# hitung nilai kolom 'genre' dalam pengelompokan menggunakan count(),
shel_genre = shel_general_grouped.sort_values(ascending=False)# urutkan Series yang dihasilkan dalam urutan menurun dan simpanlah ke shel_genres

Show the first 10 lines of `shel_genres`:

In [273]:
print(shel_genre.head(10))# menampilkan 10 baris pertama dari shel_genres

genre
pop            2431
dance          1932
rock           1879
electronic     1736
hiphop          960
alternative     649
classical       646
rusrap          564
ruspop          538
world           515
Name: track, dtype: int64

**Conclusion**

This hypothesis was proven to be partially correct:
* Pop music is the most popular genre in Springfield, as we would expect.
* However, pop music turned out to be equally popular in both Springfield and Shelbyville, and rap music apparently did not make the top 5 list of genres for either city.

# Main Conclusion

We have tested the following three hypotheses:

1. User activity in Springfield and Shelbyville depends on the day of the week, although these two cities vary in different ways.
2. On Monday mornings, residents of Springfield and Shelbyville listen to different genres. This also applies on Friday nights.
3. Listeners in Springfield and Shelbyville have different preferences. Both in Springfield and in Shelbyville, they prefer pop music.

After analyzing the available data, we can conclude that:

1. User activity in Springfield and Shelbyville depends on the day, even though the cities are different.

The first hypothesis can be completely accepted.

2. Music preferences do not vary significantly across the week in Springfield and Shelbyville. We can see a small difference in the order on Monday, but:
* In both Springfield and Shelbyville, users listen most to pop music.

Therefore, we cannot accept this hypothesis. It is also important to remember that the results obtained could have been different had we not had missing values.

3. It turns out that the music preferences of users from Springfield and Shelbyville are very similar.

The third hypothesis is rejected. If there really are differences in preferences, unfortunately we cannot know this from this data.